.google-sign-in-btn {
    display: flex;
    width: 150px;
    height: 35px;
    background: url('../img/btnGoogleSignin.png') no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}
